@import "tailwindcss";

@font-face {
    font-family: 'Reddit Sans';
    src: url('./assets/fonts/RedditSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reddit Sans';
    src: url('./assets/fonts/RedditSans-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@layer base {
    body {
        font-family: 'Reddit Sans', sans-serif;
    }

    dialog {
        margin: auto;
    }
}

@theme {
    --animate-entrance: entrance 0.15s linear forwards;

    @keyframes entrance {
        from {
            transform: translateY(50%);
        }

        to {
            transform: translateY(-50%);
        }
    }
}

.wmde-markdown ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin: 0.5rem 0;
}

.wmde-markdown ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
    margin: 0.5rem 0;
}

.wmde-markdown li + li {
    margin-top: 0.25rem;
}

.wmde-markdown li > ul,
.wmde-markdown li > ol {
    margin: 0.25rem 0;
}